.RData
.Rhistory
.Rproj.user/
DC_epigenomics.RData
NCoR1_H3K27ac_IGV_igv_session.xml
bash/command.sh
bash/CpG_pIC_H3K27ac_analysis.sh
bash/feature_count.sh
bash/Rose_SE.sh
DE_genes/*
Diff_NCoR1_associated_genes/*
lisa_run/*
Main_Figures/*
plots/g130.png
plots/g284248.png
plots/g372.png
plots/*.png
plots/H3K27ac_flowchart.drawio
plots/H3K27ac_NCoR1_KD_sample_hclust.pdf.2021_03_10_11_55_07.0.svg
plots/NCoR1_LRT_cluster_1267.pdf
plots/NCoR1_LRT_cluster_12.pdf
plots/NCoR1_LRT_clusters_1_to_11_boxplot.pdf
plots/NCoR1_LRT_clusters_1_to_11.pdf
plots/NCoR1_LRT_clusters_1_to_11.png
plots/NCoR1_LRT_clusters_boxplot.pdf
plots/NCoR1_LRT_clusters_pathway.txt
plots/NCoR1_LRT_clusters_TF_binding.pdf
plots/NCoR1_LRT_clusters_TF_binding.png
plots/NCoR1_peak_count_Uns_CpG_pIC_all3.pdf
plots/NCoR1_peak_feature_dist.pdf
plots/NCoR1_vs_Emp_RNASeq_H3K27ac_Log2FC_mod.pdf
plots/NCoR1_vs_Emp_RNASeq_H3K27ac_Log2FC.pdf
plots/RNASeq_cluster1_2_pathway.pdf
plots/TF_binding_CpG_pIC_specific_genes-0.png
plots/TF_binding_CpG_pIC_specific_genes-1.png
plots/TF_binding_CpG_pIC_specific_genes-2.png
plots/TF_binding_CpG_pIC_specific_genes.pdf
plots/TF_binding_CpG_pIC_specific_genes.png
plots/TF_gene_expression.pdf
plots/TF_gene_expression.png
plots/Venn_CpG_pIC.png
plots/Venn_CpG.png
plots/Venn_pIC.png
results/CpG_antagonoist_genes.H3K27ac_peaks.bed
results/CpG_pIC_commmon_H3K27ac_peaks.bed
results/CpG_pIC_commmon_H3K27ac_peaks.fa
results/CpG_pIC_common_genes_NCoR1.peaks.bed
results/CpG_pIC_common_genes_NCoR1.peaks.density.txt
results/CpG_pIC_H3K27ac_motif.pptx
results/CpG_pIC_H3K27ac_motifs.pdf
results/CpG_pIC_H3K27ac_motifs.png
results/CpG_pIC_Specific_genes.xlsx
results/CpG_specific_genes_NCoR1.overlap.H3k27ac.bed
results/CpG_specific_genes_NCoR1.peaks.bed
results/CpG_specific_genes_NCoR1.peaks.density_Rep1.txt
results/CpG_specific_genes_NCoR1.peaks.density.txt
results/CpG_specific_H3K27ac_peaks.bed
results/CpG_specific_H3K27ac_peaks.fa
results/DEG_Control.Stimulated_vs_Unstimulated.rds
results/Emp_antagonist_genes.txt
results/Emp_Synergy_genes.txt
results/H3K27ac_diff_peaks_LRT.bed
results/H3K27ac_replicate_multibigwigSummary.npz
results/H3K27ac_replicate_multibigwigSummary.png
results/H3K27ac_replicate_multibigwigSummary.tab
results/NCoR1_all_cond_norm_count_rep.txt
results/NCoR1_data_for_modelling_metadata.tsv
results/NCoR1_data_for_modelling.tsv
results/NCoR1_LRT_cluster1.7.11_associated_diff_NCoR1_peaks.bed
results/NCoR1_LRT_cluster1.7.11_associated_diff_NCoR1_peaks.fa
results/NCoR1_LRT_cluster2.3.6.10_associated_diff_NCoR1_peaks.bed
results/NCoR1_LRT_cluster2.3.6.10_associated_diff_NCoR1_peaks.fa
results/PearsonCorr_bigwigScores.tab
results/pIC_specific_genes_NCoR1.overlap.H3k27ac.bed
results/pIC_specific_genes_NCoR1.peaks.bed
results/pIC_specific_genes_NCoR1.peaks.density_Rep1.txt
results/pIC_specific_genes_NCoR1.peaks.density_Rep2.txt
results/pIC_specific_genes_NCoR1.peaks.density.txt
results/pIC_specific_H3K27ac_peaks.bed
results/pIC_specific_H3K27ac_peaks.fa
results/tmp.bed
R/Genome_browser_track.R
R/H3K27ac_Diffbind.R
R/H3K27ac_IRF3_RelA_overlap.R
R/LoadData.R
R/NcoR1_data_modelling.R
R/NCoR1_ecdf_plot.R
R/RNAseq_ATAC_H3K27ac_integration.R
SRTFs_overlap_with_NCoR1/*
Supplementary_Figures/*
Emp_NCoR1_2hr_CpG_pIC_RNAseq_analysis/*
MARGE_analysis/*
results/H3K27ac_analysis/*
results/H3K27ac_SE/*
results/NCoR1_LRT_cluster1.7.11_associated_diff_NCoR1_peaks.motif/*
results/NCoR1_LRT_cluster2.3.6.10_associated_diff_NCoR1_peaks.motif/*
results/WGCNA/*
